  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 mx-auto">
        <h4>ホーム</h4>
        <% if @new_holiday.errors.any? %>
          <%= @new_holiday.errors.count %>件のエラー
          <ul>
            <% @new_holiday.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>


          <%= form_with model: @new_holiday do |f| %>
            <%= f.text_area :content, class: 'form-control-plaintext', placeholder: "新規投稿" %><br>
            <%= f.file_field :image_id, accept: "image/*" %>
            <%= f.submit '投稿' %>
          <% end %>

          <%= render 'list', holidays: @holidays %>

      </div>
    </div>
  </div>
