<article>
  <div>
     <%= image_tag @holiday.user.get_profile_image(100,100) %>
   </div>
   <div>
     <%= @holiday.user.name %>
   </div>
   <div>
     <%= @holiday.content %>
   </div>
   <div>
     <% if @holiday.image_id.attached? %>
       <%= image_tag @holiday.image_id, size: "100x100" %>
     <% end %>
   </div>
   <div>
     <%= @holiday.created_at.strftime('%Y/%m/%d') %>
   </div>
   <div>
     <% if @holiday.user == current_user %>
       <%= link_to "削除", holiday_path(@holiday), method: :delete %>
     <% end %>
   </div>
</article>
