<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 mx-auto">

      <%= flash[:notice] %>

      <h4>マイページ</h4>

      <div>
        <%= image_tag @user.get_profile_image(100,100) %>
        <div class="float-right">
          <% if @user == current_user %>
            <%= link_to "プロフィール編集", edit_user_path(@user.id) %>
          <% else %>
            <%= link_to "DMを開始", chat_path(@user.id) %>
          <% end %>
        </div>
      </div>

      <p class="font-weight-bolder"><%= @user.name %></p>

      <p class="font-weight-light"><%= @user.introduction %></p>

      <div>
        <% unless @user == current_user %>
          <% if @user.is_followed_by?(current_user) %>
            <%= link_to user_relationships_path(@user), method: :delete do %>
              <button class="btn btn-danger">フォロー解除</button>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(@user), method: :post do %>
              <button class="btn btn-primary">フォロー</button>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div>
        <p class="text-small pr-5">
          <%= link_to @user.followings.count, followings_user_path(@user) %>フォロー
          <%= link_to @user.followers.count, followers_user_path(@user) %>フォロワー
        </p>
      </div>

      <%= render 'holidays/list', holidays: @holidays %>
    </div>
  </div>
</div>